{% extends "USERS/base.html" %}
{% block content %}

<h1>{{ object.title }}</h1>
<p>University: {{ object.university }}</p>
<p>Course: {{ object.course }}</p>
<p>Date: {{ object.date }}</p>
<p>Location: {{ object.location }}</p>
<p>Description: {{ object.description }}</p>

<!--JOIN/LEAVE BUTTONS -->
{% if is_member == False %}
<form method="POST">
    {% csrf_token %}
    <input type="Submit" value="Join Meeting" name="join_meeting"/>
</form>

{% else %}
<form method="POST">
    {% csrf_token %}
    <input type="Submit" value="Leave Meeting" name="leave_meeting"/>
</form>

{% endif %}

<!--DISPLAY MEMBERS -->
<p><h3>Members:</h3><p>
{% for member in object.members.all %}
    <p>{{ member.username }}</p>
{% endfor %}


<!--UPDATE/DELETE -->

{% if is_organizer == True %}
<a class="btn" href="{% url 'meeting-update' object.id %}">Update</a>
<p><a class="btn" href="{% url 'meeting-delete' object.id %}">Delete Meeting</a></p>
{% endif %}


{% endblock content %}