body {
  background: #fafafa;
  color: #333333;
  margin-top: 7rem;

}

.description {
    padding-top:5%;
    padding-bottom:5%;
    padding-left:5%;
}

.about {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
}

.member_profile {
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 10px;
    margin-bottom: 15px;
    padding-top:1%;
    padding-bottom:1%;
    padding-left:1%;


}

.my_meetings{

    padding-top:0.1%;
    padding-bottom:5%;
    padding-left:5%;

}

.card-deck .cw-30 {
    flex: 1 0 55%;
    max-width: 55%;
}

.card-deck .cw-20 {
    flex: 1 0 40%;
    max-width: 40%;
}

.m_img {
    display: block;
    margin-left: 10%;
    width: 90%;
}

.info {
    padding-left: 5%;
}

.p_med {
    line-height: 0.5;
}

.p_big {
    line-height: 1.5;
}



h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}



.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}