body {
  background: #fafafa;
  color: #333333;
  margin-top: 7rem;

}

.description {
    padding-top:5%;
    padding-bottom:5%;
    padding-left:5%;
}

.about {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
}

.member_profile {
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 10px;
    margin-bottom: 15px;
    padding-top:1%;
    padding-bottom:1%;
    padding-left:1%;


}

.my_meetings{

    padding-top:0.1%;
    padding-bottom:5%;
    padding-left:5%;

}

.deck_row{
    padding-top:0.1%;
    padding-bottom:5%;
    padding-left:5%;
    padding-right: 5%

}

.search{

    padding-top:0.1%;
    padding-bottom:2%;
    padding-left:5%;

}

.create_meeting{

    padding-top:0.1%;
    padding-bottom:2%;
    padding-left:6%;

}

.prof-img {
  height: 80px;
  width: 80px;
  margin-right: 1%;
  margin-bottom: 1%;
}

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    grid-gap: 2.0rem;
}

.card-deck .cw-30 {
    flex: 1 0 15%;
    max-width: 40%;

}

.card-deck .cw-20 {
    flex: 1 0 40%;
    max-width: 40%;
}

.m_img {
    display: block;
    margin-left: 10%;
    width: 90%;
}

.info {
    padding-left: 5%;
}

.p_med {
    line-height: 0.5;
}

.p_big {
    line-height: 1.5;
}



h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}



.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}