{% extends "USERS/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">
      <div class="media">
      <img class="mr-3" style="width: 128px; height: 128px" src={{ object.image.url }} >
      <div class="media-body">
       <h1 class="mt-0">{{ object.user.first_name }} {{ object.user.last_name }}</h1>
          <h6>Username:</h6>
          <p>{{ object.user.username }}</p>

          <h6>Email:</h6>
          <p>{{ object.user.email }}</p>

          <h6>University:</h6>
          <p>{{ object.university }}</p>

          <h6>Major:</h6>
          <p>{{ object.major }}</p>

      </div>
    </div>
</div>
{% endblock content %}