body {
  background-color: #f1f1f1;
  margin-top: 4rem;
}


.login_row{
    margin-bottom:3%;
    margin-left:10%;
    margin-right:10%;
    height: 500px;
}

.reg_row{
    margin-bottom:3%;
    margin-left:5%;
    margin-right:5%;

}

.reg_img{
    background-image: url('reg_img.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.login_img{
    background-image: url('login_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.login-content-section {
  background: #ffffff;
  padding: 10px 20px;

}


h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}
